*{
  margin: 0;
  padding: 0;
}
h2{color:black;text-align: center;}
form{
  width: 60%;
  margin: auto;
  background: #58FAAC;
  font-family: arial;
  margin-top: 100px;
}
h1{
  text-align: center;
  color: #FF0000;
}
form table tr{
  line-height: 4;
  width: 100%;
}
table{
  width: 100%;
}
form input[type="text"]{
  width: 500px;
  border: 1px solid #FFFF00;
  border-radius: 5px;
  height: 30px;
}
#pass,#email{
  width: 500px;
  border: 1px solid #FFFF00;
  border-radius: 5px;
  height: 30px;
}
form table tr>td{
  color: #2E64FE;
  font-weight: bold;
}
.submit{
    width: 15%;
    font-size: 120%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.check{
  color: red;
}
